html, body {
  margin: 0;
  height: 100%;
  background:
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: blue;
}

.main {
  display: flex;
  height: 100%;
}

ul {
  padding-inline-start: 16px;
  margin-left: 16px;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

.menu {
  width: 250px;
  height: 100%;
  font-weight: bold;
  margin-top: 72px;
  font-size: 1.2em;
}

.menu ul {
  font-size: 1.3em;
}

.header {
  font-family: 'Sacramento', cursive;
  font-size: 4em;
  color: orange;
}

.heart {
  font-size: 0.5em;
  margin-left: 8px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.canvas {
  display: flex;
  justify-content: center;
}

#myCanvas {
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 8px #777;
  margin-top: 72px;
}

.home {
  /* text-align: center; */
  width: 864px;
  margin-top: 100px;
  font-size: 1.5em;
  line-height: 2em;
}

.home-content {
  display: flex;
}

.home-text {
  padding-right: 80px;
}

.izel-y-papa {
  width: 300px;
  height: 400px;
  transform: rotate(10deg);
  margin-top: 24px;
  border: 10px solid white;
  box-shadow: 5px 5px 8px #777;
  background: url(img/izel-y-papa.jpg);
}

.izel-y-papa:hover {
  background: url(img/izel-y-papa-forevers.jpg);
}

.about {
  width: 864px;
  margin-top: 100px;
  font-size: 1.5em;
  line-height: 2em;
}

.hidden {
  display: none;
}

.title {
  font-size: 1.5em;
  margin-bottom: 24px;
  color: white;
}

.raster {
  display: none;
}

.controls {
  width: 32px;
  margin: 72px 16px 0;
}

.colorButton {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  outline: none;
  margin-bottom: 16px;
  box-shadow: 2px 2px 3px #666;
}

.active::after {
  font-size: 1.2em;
  font-weight: bold;
  content: '\2713';
  color: white;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

@media print {
  .header {
    display: none;
  }

  .controls {
    display: none;
  }

  #myCanvas {
    box-shadow: none;
  }

  .menu {
    display: none;
  }
}