html, body {
  font-family: 'Sacramento', cursive;
  margin: 0;
  height: 100%;
  background-color: mistyrose;
}

.header {
  padding: 24px 0;
  width: 100%;
  font-size: 2em;
  background-color: white;
  border-bottom: 2px solid skyblue;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.controls {
  padding: 16px;
  width: 200px;
}

.canvas {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center;
}

#myCanvas {
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 8px #666;
}

.raster {
  display: none;
}

.colorButton {
  width: 32px;
  height: 32px;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

@media print {
  .header {
    display: none;
  }

  .controls {
    display: none;
  }

  #myCanvas {
    box-shadow: none;
  }
}