html, body {
  font-family: 'Sacramento', cursive;
  margin: 0;
  height: 100%;
  background-color: white;
}

a, a:visited {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: mistyrose;
}

.main {
  display: flex;
  height: 100%;
}

ul {
  padding-inline-start: 16px;
  margin-left: 16px;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

.menu {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #666;
  width: 200px;
  height: 100%;
  border-right: 2px solid #ddd;
  font-size: 1.2em;
  font-weight: bold;
}

.header {
  padding: 16px;
  width: 100%;
  font-size: 2em;
  background-color: #555;
  color: white;
}

.heart {
  font-size: 0.5em;
  margin-left: 8px;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: mistyrose;
  background-image: 
    radial-gradient(#ffefed 15%, transparent 16%),
    radial-gradient(#ffefed 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.canvas {
  display: flex;
  justify-content: center;
}

#myCanvas {
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 8px #666;
  margin-top:48px;
}

.raster {
  display: none;
}

.controls {
  width: 32px;
  margin: 48px 16px 0;
}

.colorButton {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  outline: none;
  margin-bottom: 16px;
}

.active {
  box-shadow: 3px 3px 5px #666;
}

.active::after {
  font-size: 1.2em;
  font-weight: bold;
  content: '\2713';
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

@media print {
  .header {
    display: none;
  }

  .controls {
    display: none;
  }

  #myCanvas {
    box-shadow: none;
  }
}